<h2>User_index</h2>

<div class ="container">
  <div class ="row">
    <div class ="col-4">
      <!--共通項目-->
      <%= render 'layouts/new_book' %>
    </div>
    <div class ="col-8">
      <h1>users_index</h1>
    </div>
  </div>
</div>


