<!--User_show-->
<div class ="container px-5 px-sm-0">
  <div class ="row">
    <div class ="col-md-3">
      <%= render 'layouts/template', user: @user%>
    </div>
    <!--offset -->
    <div class ="col-md-8 offset-md-1">
      <h2>Books</h2>
      <!--table-hoverはカーソル選択時色を変える。-->
      <table class ="table table-hover">
       <thead>
         <tr>
           <th></th>
           <th>Title</th>
           <th>Opinion</th>
         </tr>
       </thead>
       <tbody>
         <% @books.each do |book| %>
           <tr>
             <!--option(link_to,image_tag) "表示したい名前"or(each分の指定.method名), url-->
             <th><%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(book.user.id) %></th>
             <th><%= link_to book.title, book_path(book.id) %></th>
             <th><%= book.body %></th>
           </tr>
         <% end %>
       </tbody>
      </table>
      
    </div>
  </div>
</div>